{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Topic Studied</th>
                <th scope="col">Time Spent Studying</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row["date"] }}</td>
                <td>{{ row["topic"] }}</td>
                <td>{{ row["period"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}